* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}

form {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  border: 1px solid #000;
  background-color: rgb(228, 227, 226);
}

button {
  background-color: green;
  color: white;
  width: 300px;
  height: 40px;
}
