body{
    background-color: rgb(62, 164, 94);
}

input{
    display: block;
    margin: 10px auto;
    padding: 10px 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 500px;
}

button{
    display: block;
    margin: 15px auto;
    padding: 10px 10px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 520px;
}

button:hover{
    background-color: rgb(53, 73, 204);
    color: rgb(205, 21, 21);
}